# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

node_modules
dist
dist-ssr
*.local

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Output of 'npm pack'
*.tgz

# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
